<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://cdn.robby570.tw/img/favicon_16x16.ico" type="image/ico">


    <title>NUTCGO - 校園導覽系統</title>

    <!-- CSS font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"  href="css/bootstrap.min.css" >

    <!-- Custom CSS -->
    <link rel="stylesheet"  href="css/custom.css" >

    <link rel="stylesheet"  href="css/site.css" >
    <link rel="stylesheet" href="css/guide.css">
    <link rel="stylesheet"  href="css/home.css" >
    <link rel="stylesheet"  href="css/building.css" >
    <link rel="stylesheet"  href="css/traffic.css" >
    <link rel="stylesheet"  href="css/art.css" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <%- include('./components/navbar') -%>	
        <%- include('./components/login') -%>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <%- include('./components/head') -%>
            <%- include('./components/guide') -%>
            <%- include('./container/'+ key +'/app') -%>
            <%- include('./components/footer') -%>

        </div>
        <!-- // Page Content -->

    </div>
    <!-- // Wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/building.js"></script>
    <script src="js/art.js"></script>
    
    <!-- Menu Toggle Script -->
    <script>
        $(".navcon").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $(".navcon").toggleClass("hide");
        });

        $(window).load(function () {
            w = $(this).width();
            if (w > 768) {
                $("#wrapper").toggleClass("toggled");
                $(".nav-show").toggleClass("hide");
            } else {
                $(".navcon").toggleClass("hide");
            }

        });

        $('#nav-login').click(function () {
            $("#wrapper").toggleClass("toggled");
            $(".navcon").toggleClass("hide");
        });
    </script>

</body>

</html>