<!DOCTYPE html>
<html lang="zh-tw">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://cdn.robby570.tw/img/favicon_16x16.ico" type="image/ico">
    <title>NUTCGO - <%= nav.name %></title>

    <!-- CSS Plugin -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'/>

    <!-- Custom CSS --> 
    <% var debug = true; %>   

    <% if( debug ) { %>
            <link rel="stylesheet"  href="/dist/evi.css?v=<%= Date.now() %>" >
            <link rel="stylesheet"  href="/dist/bundle.css?v=<%= Date.now() %>" >
            <link rel="stylesheet"  href="/dist/table.css?v=<%= Date.now() %>" >
    <% }else{ %> 
            <link rel="stylesheet"  href="http://cdn.robby570.tw/dist/evi.css?v=<%= Date.now() %>" >
            <link rel="stylesheet"  href="http://cdn.robby570.tw/dist/bundle.css?v=<%= Date.now() %>" >
            <link rel="stylesheet"  href="http://cdn.robby570.tw/dist/table.css?v=<%= Date.now() %>" >
    <% } %>
    <!-- JS jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>

    <!-- JS bootstrap -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <!-- JS jquery-ui -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

   	<!-- JS google map -->
    <!-- JS jstree -->
    <% if(nav.id=='map'){ %>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSMUQO4J80V843k7ZrDzoKVPO25-HAR0M"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <% } %>

	<!-- js google recaptcha -->
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>

    <!-- JS layzload -->
	<!--<script src="http://cdn.robby570.tw/js/jslazyload/jquery.lazyload.js"></script>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper" class="toggled">

        <%- include('./components/navbar') -%>	

        <% if( session.IsLogin ) { %>
            <%- include('./container/account/app') -%>
        <% }else{ %>
            <%- include('./container/signup/app') -%>
            <%- include('./components/login') -%>
        <% }%>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <%- include('./components/head') -%>
            
            <% if(nav.id!='map'){ %>
                <%- include('./components/guide') -%>
            <% } %>

            <%- include('./container/'+ nav.id +'/app') -%>
           
            <% if(nav.id!='map'){ %>
                <%- include('./components/footer') -%>
            <% } %>

        </div>

        <!-- Add favorite  -->
        <div class="flex-middle">
            <div id="alertWindow" class="alert alert-info alert-dismissable">
                <a href="javascript:objAlert=null;alertWindow(false);" class="close" aria-label="close">×</a>
                <strong>提示：</strong><span></span>
            </div>
        </div>

    </div>
    
    
    
    <% if( debug ) {%>
            <script src="/dist/bundle.js?v=<%= Date.now() %>"></script>
            <% if(nav.id=='map'){ %>
                <script src="/dist/bundle.gmap.js?v=<%= Date.now() %>"></script>
            <% } %>
    <% }else{ %> 
            <script src="http://cdn.robby570.tw/dist/bundle.js?v=<%= Date.now() %>"></script>
            <% if(nav.id=='map'){ %>
                <script src="http://cdn.robby570.tw/dist/bundle.gmap.js?v=<%= Date.now() %>"></script>
            <% } %>
    <% } %>

</body>

</html>